.date-time-card {
    width: 160px;
  font-family: "Lucida Sans", Geneva, Verdana, sans-serif;
    
}

.date-time-card h3 {
  font-size: 10px;
  font-weight: bolder;
  color: #4a4a4a;
}

.date-time-card p {
  color: #555;
    font-size: 10px;
}

.date-grid{
    display: flex;
    gap: 10px;
}

