.int-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.int-box {
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  font-size: 10px;
  margin-top: 10px;
  margin-right: 10px;
  min-height: 200px;
}

.int-content h3 {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bolder;
  align-items: flex-start;
  display: flex;
  font-size: 12px;
  color: blueviolet;
}

.int-content p {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  align-items: flex-start;
  display: flex;
  font-size: 10px;
}
