.nav-icon {

  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  gap: 40px;
}

.nav-icon svg {
  font-size: 20px;
  cursor: pointer;
   transition: fill 0.3s;
}

.nav-icon svg:hover {
  transform: scale(1.2);       
  color: rgb(157, 59, 157);            
  box-shadow: -2px 0px ; 
  border-radius: 2px;  
}